<div class="row">
    <div class="col s12 offset-s10">
        <a href="#" routerLink="/login">Deconnexion</a>
        <br>
        <a href="#" routerLink="/info">Informations personnelles</a>
    </div>
</div>

<div style="text-align:center">
    <h3> Page d'accueil </h3>
</div>

<app-navbar></app-navbar>

<br><br><br><br><br>

<div class="container">
    <h4>Restant à faire :</h4>
    <ol type="I">
        <li>Sécuriser le site - page login</li>
        <li>Afficher les tâches sur le calendrier</li>
    </ol>
    <h4>Attention :</h4>
    <ol type="I">
        <li>Actualiser toutes les pages dès qu'on arrive dessus</li>
        <li>Bouton "consulter" dans "liste d'affaires" pas fonctionnel</li>
        <li>Certaines pages existe déjà mais ne sont pas accessible directement :</li>
        - Page détails document (style à revoir) : d-document/id<br>
        - Page ajouter phase : a-phase
    </ol>
</div>

<br><br>

<div class="container">
    <full-calendar defaultView="dayGridMonth" [events]="calendarEvents" [plugins]="calendarPlugins"></full-calendar>
</div>

<br><br>