<div class="row">
    <div class="col s12 offset-s10">
        <a href="#" routerLink="/login">Deconnexion</a>
        <br>
        <a href="#" routerLink="/info">Informations personnelles</a>
    </div>
</div>


<div style="text-align:center">
    <h3> Page d'accueil </h3>
</div>

<app-navbar></app-navbar>

<br><br>

<app-full-calendar></app-full-calendar>







<!-- DEBUT LISTE DOCUMENTS -->

<!-- <br><br><br><br>

<table class="responsive-table striped">
    <thead class="white-text #2979ff blue accent-3">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Lien</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let document of documents">
            <td>{{document.nom}}</td>
            <td>{{document.description}}</td>
            <td><a routerLink="/d-document/{{document.idDocument}}" class="waves-effect waves-light btn">Editer</a></td>
        </tr>
    </tbody>
</table> -->

<!-- FIN LISTE DOCUMENTS -->