<div class="row">
    <div class="col s12 offset-s10">
        <a href="#" routerLink="/login">Deconnexion</a>
        <br>
        <a href="#" routerLink="/info">Informations personnelles</a>
    </div>
</div>

<div style="text-align:center">
    <h3> Page d'accueil </h3>
</div>

<app-navbar></app-navbar>

<br><br><br><br><br>

<div class="container">
    <h4>Restant à faire :</h4>
    <ol type="I">
        <li>Sécuriser le site - page login</li>
        <li>Afficher les tâches sur le calendrier</li>
        <li>Faire fonctionner la fonction rechercher des différentes listes</li>
        <li>Relier les pages formulaires d'ajout à la base de données (affaire / tache / phase)</li>
        <li>Relier les pages détails (affaire / tache & phase)</li>
    </ol>
    <h4>Attention :</h4>
    <ol type="I">
        <li>Actualiser toutes les pages dès qu'on arrive dessus</li>
        <li>Bouton "consulter" dans "liste d'affaires" pas fonctionnel</li>
        <li>Certaines pages existe déjà mais ne sont pas accessible directement :</li>
        - Page détails document (style à revoir) : d-document/id<br>
        - Page ajouter phase : a-phase
    </ol>
    <h4>Bonus :</h4>
    <ol type="I">
        <li>Traduire le calendrier en francais</li>
        <li>Ecrire les pages "Nous contacter" et "Nous rejoindre"</li>
    </ol>
</div>

<br><br>

<app-full-calendar></app-full-calendar>

<br><br>





<!-- DEBUT LISTE DOCUMENTS -->

<!-- <br><br><br><br>

<table class="responsive-table striped">
    <thead class="white-text #2979ff blue accent-3">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Lien</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let document of documents">
            <td>{{document.nom}}</td>
            <td>{{document.description}}</td>
            <td><a routerLink="/d-document/{{document.idDocument}}" class="waves-effect waves-light btn">Editer</a></td>
        </tr>
    </tbody>
</table> -->

<!-- FIN LISTE DOCUMENTS -->