<div class="parallax-container">
  <div class="parallax"><img width="100%" src="assets\Image\L'équipe.png"></div>
</div>
<br>


<div class="col s10">
  <span class="black-text">
    <p style="text-align: center; font-size:20px">
      Jérôme BERNARD - Chef d'équipe, 25 ans
      <br>
      "J'ai mis toute mon âme dans cette application, et je suis fier de mon équipe"
    </p>
  </span>
</div>

<div class="parallax-container">
  <div class="parallax"><img width="100%" src="assets\Image\sebastian-pichler-25154-unsplash.jpg"></div>
</div>
<p style="text-align: center; font-size:20px">
  Laetoria PRUVOST - Secrétaire, 26 ans
  <br>
  "Notre Chef est très gentil avec moi !"
</p>
<div class="parallax-container">
  <div class="parallax"><img width="100%" src="assets\Image\helloquence-51716-unsplash.jpg"></div>
</div>
<p style="text-align: center; font-size:20px">
  Alexandre BABIN - Ingénieur en Chef, 24 ans (25 ans le 15 Juillet 2019)
  <br>
  "On ne m'a pas laissé travailler sur le front sur ce projet, je ne comprends pas pourquoi..."
</p>
<div class="parallax-container">
  <div class="parallax"><img width="100%" src="assets\Image\hunters-race-408744-unsplash.jpg"></div>
</div>
<p style="text-align: center; font-size:20px">
  Mélissa PHILIPPE - Ingénieur, 25 ans
  <br>
  "Baby Shark tutututut, Baby Shark tutututut..."
</p>
<div class="parallax-container">
  <div class="parallax"><img width="100%" src="assets\Image\kyle-glenn-670496-unsplash.jpg"></div>
</div>
<p style="text-align: center; font-size:20px">
  Victor GANDER - Ingénieur, 26 ans
  <br>
  "L'équipe est extraordinaire et tout le monde est très gentil !"
</p>
<div class="parallax-container">
  <div class="parallax"><img width="100%" src="assets\Image\samuel-zeller-360588-unsplash.jpg"></div>
</div>
<p style="text-align: center; font-size:20px">
  Ronan HOURDEL - Ingénieur, 27 ans
  <br>
  "J'ai suivi un régime spécial pomme pour ce projet, c'est un réel succès !"
</p>
<div class="parallax-container">
  <div class="parallax"><img width="100%" src="assets\Image\bill-oxford-1680641-unsplash.jpg"></div>
</div>
<p style="text-align: center; font-size:20px">
  Maryssa Semer - Ingénieur, 29 ans
  <br>
  "Pika pika !"
</p>
<div class="parallax-container">
  <div class="parallax"><img width="100%" src="assets\Image\d-_-1676739-unsplash.jpg"></div>
</div>