<html>

<ul id="affaire" class="dropdown-content">
  <li><a href="#!" routerLink="/a-affaire">Ajout d'une affaire</a></li>
  <li class="divider"></li>
  <li><a href="#!" routerLink="/l-affaire">Liste d'affaires</a></li>
</ul>
<ul id="tache" class="dropdown-content">
  <li><a href="#!" routerLink="/a-tache">Ajout d'une tâche</a></li>
</ul>
<ul id="tribunaux" class="dropdown-content">
  <li><a href="#!" routerLink="/l-tribunaux">Liste des tribunaux</a></li>
</ul>
<ul id="utilisateurs" class="dropdown-content">
  <li><a href="#!" routerLink="/l-utilisateurs">Liste des utilisateurs</a></li>
</ul>


<nav>
  <div class="nav-wrapper">
    <ul class="brand-logo center">
      <li><a class="dropdown-trigger" data-target="affaire">Affaires
          <i class="material-icons right">expand_more</i></a></li>
      <li><a class="dropdown-trigger" data-target="tache">Tâches
          <i class="material-icons right">expand_more</i></a></li>
      <li><a class="dropdown-trigger" data-target="tribunaux">Tribunaux
          <i class="material-icons right">expand_more</i></a></li>
      <li><a class="dropdown-trigger" data-target="utilisateurs">Utilisateurs
          <i class="material-icons right">expand_more</i></a></li>
    </ul>
  </div>
</nav>
</html>