<!-- Bandeau de Tête avec Image et Titre -->
<img style="width:100%;" src="assets\Image\d-document.png">

<app-navbar></app-navbar>

<br>

<!-- Détail du document -->
<br><br>
<div class="container">
    <form>
        <div>
            <table id="myTable">
                <tr class="header">
                    <th style="width:20%;  text-align: center" >Nom</th>
                    <th style="width:20%;  text-align: center">Date de Création</th>
                    <th style="width:40%;  text-align: center">Description</th>
                    <th style="width:20%;  text-align: center">Lien vers le PDF</th>
                </tr>
                <tbody>
                    <tr>
                        <td style="text-align: center">{{documentActif.nom}}</td>
                        <td style="text-align: center">{{documentActif.description}}</td>
                        <td style="text-align: center">{{documentActif.dateCreation}}</td>
                        <td style="text-align: center"><a class="waves-effect blue-grey darken-2 btn"><i
                                    class="material-icons">remove_red_eye</i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<br><br>