<div class="card-panel teal lighten-2">
    <h2 class="center">Document selectionné</h2>
</div>

<app-navbar></app-navbar>

<br><br><br><br><br>

<!-- Tableau pour le document que l'on consulte -->
<form>
    <div>
        <table class="highlight, centered">
            <thead style="background-color: grey">
                <tr>
                    <th style="width:20%;">Nom</th>
                    <th style="width:40%;">Description</th>
                    <th style="width:20%;">Date de Création</th>
                    <th style="width:20%;">Lien vers le PDF</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{documentActif.nom}}</td>
                    <td>{{documentActif.description}}</td>
                    <td>{{documentActif.dateCreation}}</td>
                    <td><a class="waves-effect waves-light btn"><i class="material-icons">remove_red_eye</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>