<!-- Bandeau de Tête avec Image et Titre -->
<img style="width:100%;" src="assets\Image\a-affaire.png">

<app-navbar></app-navbar>

<br><br><br><br><br>

<!-- Code pour le Formulaire -->
<div class="container">
    <div class="row">
        <p style="text-align: center; color :#a93226; font-size:25px"><b>Affaire</b></p>
        <form class="col s12" [formGroup]="form" (ngSubmit)="createAffaire()">
            <div class="row">
                <div class="input-field col s6">
                    <input id="reference" type="text" formControlName="reference" class="validate">
                    <label for="reference">Référence</label>
                </div>
                <div class="input-field col s6">
                    <input id="titre" type="text" formControlName="titre" class="validate">
                    <label for="titre">Titre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="description" type="text" formControlName="description" class="validate">
                    <label for="description">Description</label>
                </div>
            </div>
            <p style="text-align: center; color :#455a64">Statut de l'affaire 1: A venir - 2: En cours - 3: Archivée</p>
            <div class="row">
                <div class="input-field col s12">
                    <input id="status" type="number" formControlName="status" class="validate" min="0" max="3">
                    <label for="status">Status de l'affaire</label>

                    <!-- <select>
                        <option value="0" disabled selected>Statut de l'affaire</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select> -->

                    <button style="text-align: center" class="waves-effect blue-grey darken-2 btn" type="submit"
                        name="action" [disabled]=form.invalid>Ajouter<i class="material-icons right">send</i>
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>

<br><br>