<!-- Bandeau de Tête avec Image et Titre -->
<img style="width:100%;" src="assets\Image\l-utilisateurs.png">

<app-navbar></app-navbar>


<!-- DEBUT LISTE UTILISATEUR -->
<div class="container">
    <div class="container">
        <div class="container">
            <p style="color :#a93226; font-size:25px" class="text-align: center">Chercher par prénom</p>
            <input type="text" id="icon_prefix" onkeyup="myFunction()" placeholder="Saisir l'adresse...">
        </div>
    </div>
</div>

<div class="container">
    <table id="myTable">
        <tr class="header">

            <th style="width:30%; text-align: center" onclick="sortTable(0)">Prénom<i style="align-items:right" class="material-icons">unfold_more</i></th>
            <th style="width:30%; text-align: center" onclick="sortTable(1)">Nom<i class="material-icons prefix">unfold_more</i></th>
            <th style="width:40%; text-align: center">Email</th>
        </tr>
        <tbody>
            <tr *ngFor="let utilisateur of listUtilisateur">
                <td style="text-align: center">{{utilisateur.prenom}}</td>
                <td style="text-align: center">{{utilisateur.nom}}</td>
                <td style="text-align: center">{{utilisateur.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- FIN LISTE UTILISATEUR -->

<br><br><br>