<!-- Bandeau de Tête avec Image et Titre -->
<img style="width:100%;" src="assets\Image\a-tache.png">

<!-- DEBUT NAVBAR PRINCIPAL -->
<!-- Dropdown -->
<ul id="affaire" class="dropdown-content">
    <li><a href="#" routerLink="/a-affaire"><i class="material-icons">add</i>Ajout d'une affaire</a></li>
    <li class="divider"></li>
    <li><a href="#" routerLink="/l-affaire"><i class="material-icons">view_module</i>Liste d'affaires</a></li>
</ul>

<ul id="tache" class="dropdown-content">
    <li><a href="#" routerLink="/a-tache"><i class="material-icons">add</i>Ajout d'une tâche</a></li>
</ul>

<ul id="tribunaux" class="dropdown-content">
    <li><a href="#" routerLink="/l-tribunaux"><i class="material-icons">view_module</i>Liste des tribunaux</a></li>
</ul>

<ul id="utilisateurs" class="dropdown-content">
    <li><a href="#" routerLink="/l-utilisateurs"><i class="material-icons">view_module</i>Liste des utilisateurs</a>
    </li>
</ul>

<!-- Navbar -->
<nav>
    <div class="row">
        <div class="nav-wrapper">
            <ul class="col s3 push-s1">
                <li><a class="dropdown-trigger" href="#" data-target="affaire">Affaires<i
                            class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="col s3 push-s1">
                <li><a class="dropdown-trigger" href="#" data-target="tache">Tâches<i
                            class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="col s3 push-s1">
                <li><a class="dropdown-trigger" href="#" data-target="tribunaux">Tribunaux<i
                            class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="col s3 push-s1">
                <li><a class="dropdown-trigger" href="#" data-target="utilisateurs">Utilisateurs<i
                            class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- FIN NAVBAR PRINCIPAL -->

<br><br>

<!-- Formulaire d'ajout d'une tâche -->

<div class="container">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="dateCreation" type="text" class="datepicker">
                    <label for="dateCreation">Date de Création</label>
                </div>
                <div class="input-field col s6">
                    <input id="titre" type="text" class="validate">
                    <label for="titre">Titre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="description" type="text" class="validate">
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="statut" type="text" class="validate">
                    <label for="statut">Statut de l'Audience</label>
                </div>
            </div>
            <div>
                <button style="text-align: center" class="waves-effect blue-grey darken-2 btn" type="submit"
                    name="action">Ajouter
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>