<!-- Bandeau de Tête avec Image et Titre -->
<img style="width:100%;" src="assets\Image\l-tribunaux.png">

<app-navbar></app-navbar>

<br><br><br><br><br>

<!-- Liste des Tribunaux -->
<div class="container">
  <div class="container">
    <div class="container">
      <p style="color :#a93226; font-size:25px" class="text-align: center">Chercher par adresse</p>
      <input type="text" id="icon_prefix" onkeyup="myFunction()" placeholder="Saisir l'adresse...">
    </div>
  </div>
</div>

<div class="container">
  <table id="myTable">
    <tr class="header">
      <th style="width:50%; text-align: center" onclick="sortTable(0)">Adresse <i style="align-items:right" class="material-icons">unfold_more</i></th>
      <th style="width:15%; text-align: center" >Téléphone </th>
      <th style="width:15%; text-align: center">Fax</th>
      <th style="width:20%; text-align: center" onclick="sortTable(1)">Région <i style="align-items:right" class="material-icons">unfold_more</i></th>
    </tr>
    <tr *ngFor="let tribunal of tribunaux">
      <td style="text-align: center">{{tribunal.adresse}}</td>
      <td style="text-align: center">{{tribunal.tel}}</td>
      <td style="text-align: center">{{tribunal.fax}}</td>
      <td style="text-align: center">{{tribunal.region}}</td>
    </tr>
  </table>
</div>

<br><br>