<html>

<div class="row">
    <div class="contener">
        <br><br>
        <div class="col s3 push-s1"> <img src="assets/Image/logo.png" width="40%"></div>
        <h1 style="color: white">Plateforme des avocats de France</h1>
    </div>
</div>


<body>
    <!-- <div class="row">
        <div class="container">
            <form>
                <div class="col s10 offset-s2">
                    <div><br>
                        <div class="formulaire">
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input placeholder="email" id="email" type="text" class="validate" #email>

                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">lock</i>
                                <input placeholder="Mot de passe" id="mdp" type="password" class="validate" #mdp>

                            </div>
                        </div>

                        <div class="center-align">

                            <br><br><br><button class="btn" type="submit"
                                (click)=verifier(email.value,mdp.value)>Connexion</button><br><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> -->

    <div class="container">
        <div class="container">
            <div class="container">
                <div class="container">
                    <div class="container">
                        <form>
                            <div class="formulaire">
                                <div class="input-field">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input placeholder="email" id="email" type="text" class="validate" #email>

                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix">lock</i>
                                    <input placeholder="Mot de passe" id="mdp" type="password" class="validate" #mdp>

                                </div>
                            </div>

                            <div class="center-align">

                                <br><br><br><button class="btn" type="submit"
                                    (click)=verifier(email.value,mdp.value)>Connexion</button><br><br>
                            </div>
                        </form>
                        <p style="color: white" class="center-align" id="resume">
                            Bienvenue sur VOTRE base de données. <br>
                            La facilité à gérer vos affaires ce fait ici.
                        </p>
                        <!-- Modal Trigger -->
                        <div class="center-align">
                            <a id="helpbtn" class=" btn modal-trigger" href="#modal1">HELP</a>
                        </div>
                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <h4>Aide à la connexion</h4>
                                <p>Afin de vous connecter veuillez verifier votre login et votre email
                                    professionel. <br>
                                    Ne pas oublier le symbole @. <br><br>

                                    Pour le mot de passe veuillez respecter un minimum de 5 caractères et un maximum de
                                    20 caractères.<br>
                                    Pour modifier ces valeurs il faut être connecter et modifier le formulaire dans
                                    votre espace personnel.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" routerLink="/login" class="modal-close waves-effect waves-green btn-flat">J'ai compris</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</body>




</html>