<!-- Bandeau de Tête avec Image et Titre -->
<img style="width:100%;" src="assets\Image\l-affaires.png">

<app-navbar></app-navbar>

<!-- Liste Affaires -->
<div class="container">
    <div class="container">
        <div class="container">
            <p style="color :#a93226; font-size:25px" class="text-align: center">Chercher par titre</p>
            <input type="text" id="icon_prefix" onkeyup="myFunction1()" placeholder="Saisir le titre...">
        </div>
        <p style="text-align: center; color :#455a64">Statut de l'affaire 1: A venir - 2: En cours - 3: Archivée</p>
    </div>
</div>
<div class="container">
    <form>
        <div>
            <table id="myTable">
                <tr class="header">
                    <th style="width:20%; text-align: center" onclick="sortTable(0)">Référence<i style="align-items:right"
                        class="material-icons">unfold_more</i></th>
                    <th style="width:25%; text-align: center" onclick="sortTable(1)">Titre<i style="align-items:right"
                            class="material-icons">unfold_more</i></th>
                    <th style="width:40%; text-align: center" onclick="sortTable(2)">Description<i
                            style="align-items:right" class="material-icons">unfold_more</i></th>
                    <th style="width:10%; text-align: center" onclick="sortTableChiffre()">Status<i style="align-items:right"
                            class="material-icons">unfold_more</i></th>
                    <th style="width:5%; text-align: center">Consulter</th>
                </tr>
                <tbody>
                    <tr *ngFor="let affaire of affaires">
                        <td style="text-align: center">{{affaire.reference}}</td>
                        <td style="text-align: center">{{affaire.titre}}</td>
                        <td style="text-align: center">{{affaire.description}}</td>
                        <td style="text-align: center">{{affaire.status}}</td>
                        <td>
                            <a routerLink="/d-affaire/{{affaire.idAffaire}}" class="waves-effect blue-grey darken-2 btn"><i
                                    class="material-icons">remove_red_eye</i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<br><br><br>