nav {
    background-color: #455a64
  }
  
  footer {
    background-color: #455a64
  }
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }

  label {
   color: #455a64
  }
 
  input {
    color: #455a64
  }


/* Style pour les tableaux */
    * {
      box-sizing: border-box;
    }

    #icon_prefix {
      font-size: 18px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }

    #myTable {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
      font-size: 18px;
    }

    #myTable th {
      text-align: left;
      padding: 12px;
      background-color: #a93226;
      color: white;
    }

    #myTable td {
      text-align: left;
      padding: 12px;
      
    }

    #myTable tr {
      border-bottom: 1px solid #ddd;
    }

    #myTable tr.header,
    #myTable tr:hover {
      background-color: #f1f1f1;
    }



