nav {
    background-color: #455a64
  }
  
  footer {
    background-color: #455a64
  }
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }

  label {
   color: #455a64
  }
 
  input {
    color: #455a64
  }